name: Rust Bootloader Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1. Устанавка специального компилятора Rust для ESP32
      - name: Install ESP Rust Toolchain
        uses: esp-rs/xtensa-toolchain@v1.5
        with:
          default: true
          buildtargets: esp32s3

      # 2. Соборка загрузчика
      - name: Build Bootloader
        working-directory: ./bootloader
        run: |
          . /home/runner/exports
          cargo +esp build --release --verbose

