name: Rust Bootloader Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Bootloader
        # Указываем путь к папке от корня репозитория
        working-directory: ./bootloader
        run: cargo build --verbose

      - name: Run release
        # Здесь тоже указываем рабочую директорию
        working-directory: ./bootloader
        run: cargo run --release --verbose
